*.pyc
.vscode
output
old_output
outputs
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.zip
lineart*
depth*
canny*
downloaded_model
TRELLIS_VAE/ss_enc_conv3d_16l8_fp16.safetensors
